@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*, html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

#page {
	top: 60px;
	position: relative;
}