#cover_days {
	width: 100%;
}

#day_checkbox{
	display: inline-block;
	margin: 10px;
	border: 1px;
}

#uncovered_shift_list li{
	left: 15px;
}

#uncovered_shift_list a:hover {
	text-decoration: underline;
	font-style: bold;
}