#cover_days {
	width: 100%;
}

#day_checkbox{
	display: inline-block;
	margin: 10px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
}

#uncovered_shift_list li{
	left: 15px;
}

#uncovered_shift_links{
	text-decoration: none;
	color: black;
}

#uncovered_shift_links:hover {
	text-decoration: underline;
	font-style: bold;
}