#cover_days {
	width: 100%;
}

#day_checkbox{
	background-color: #EEEEEE;
	display: inline-block;
	margin: 10px;
	border: 1px;
	border-style: solid;
	border-color: black;
}

#uncovered_shift_list li{
	left: 15px;
}