#detail_header, #detail_body, #schedule_detail_header{
	font-size: 2em;
}


#detail_header {
	/* Positioning */
	height: 75px;
}

#schedule_detail_header{
	height: 200px;
}

#detail_body_left {
	/* Positioning */
	width: 30%;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}

#detail_body_left a{
	/* Positioning */
	font-size: 0.75em;
}

#detail_body_right {
	/* Positioning */
	position: absolute;
	width: 60%;
	left: 31%;
	top: 75px;
}


#detail_body_qualifications, #detail_body_flags{
	position: absolute;
	top: 75px;
}

#detail_body_flags {
	width: 30%;
	left: 31%;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	height: 55%;
}

#detail_body_qualifications {
	width: 30%;
	left: 62%;
}

#detail_body_right li, #detail_body_qualifications li , #detail_body_flags li{
	/* Style */
	font-size: 0.75em;
	background-color: #E2E0E0;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	display: inline-block;
}


#detail_footer{
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	position: relative;
	top: 5px;
	padding-top: 5px;
}


#schedule_shift_table{
	top: 50px;
	position: relative;

}