/*************************************************/
/***************** ALL FORMS *********************/
/*************************************************/
label {
    display: none;
}

#form_div input, #form_div select, #form_div li{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

#form_header *{
	display: inline-block;
}

#form_header{
	margin-bottom: 10px;
}

.errorlist{
	display: none;
}

#form_errors {
	position: relative;
	top:60px;
	left: 20px;
	color: red;
}

/* Flag and Qualification Create Views */
label[for=id_title], #id_title {
	font-size: 3em;
	display: inline-block;
	margin: 5px;
}


/************************************************************/
/***************** STAPHER & SHIFT FORMS *********************/
/************************************************************/

#stapher_first_name,  #stapher_last_name , #shift_title{
	/* position */
	position: absolute;

	/* size */
	height: 50px;

	/* style */
	font-size: 2em;
}

#stapher_title, #shift_day, #shift_start, #shift_end{
	/* position */
	position: absolute;
	top: 110px;

	/* size */
	height: 50px;
	

	/* style */
	font-size: 1.75em;
}
label[for=stapher_age], #stapher_age, 
label[for=stapher_class_year], #stapher_class_year, 
label[for=stapher_summers_worked], #stapher_summers_worked,
label[for=stapher_gender], #stapher_gender,
label[for=stapher_active] {
	font-size: 1.75em;
	display: block;
}


label[for=stapher_age], #stapher_age, #shift_workers_needed, label[for=shift_workers_needed]{
	/* position */
	position: absolute;
	top: 165px;
}

#stapher_qualifications li, #shift_qualifications li, #shift_flags li{
	/* position */
	position: relative;

	/* size */
	width: auto;
	
	/* style */
	background-color: #E2E0E0;
	border-radius: 10px;
	display: inline-block;
	font-size: 0.75em;
	margin: 3px;
	padding: 3px;
	text-align: center;
	
}

label[for=shift_flags_hardcoded] a, label[for=shift_qualifications_hardcoded] a, 
label[for=stapher_qualifications_hardcoded] a {
	font-size: 0.75em;
	bottom: 2px;
}
/********************************************************/
/***************** STAPHER SPECIFIC *********************/
/********************************************************/
#stapher_first_name {
	/* size */
	width: 225px;

}

#stapher_last_name {
	/* position */
	left: 230px;

	/* size */
	width: 275px;
}



#stapher_title{
	width: 505px;
}




label[for=stapher_age] {
	/* position */
	left: 0px;
}

#stapher_age {
	/* position */
	left: 60px;

	/* size */
	width: 50px;

	/* style */
	text-align: center;
}


label[for=stapher_class_year], #stapher_class_year {
	/* position */
	position: absolute;
	top: 205px;
}

label[for=stapher_class_year] {
	/* position */
	left: 0px;
}

#stapher_class_year {
	/* position */
	position: absolute;
	left: 140px;

	/* size */
	width: 80px;

	/* style */
	text-align: center;
}


label[for=stapher_summers_worked], #stapher_summers_worked {
	/* position */
	position: absolute;
	top: 250px;
}

label[for=stapher_summers_worked] {
	/* position */
	left: 0px;
}

#stapher_summers_worked {
	/* position */
	position: absolute;
	left: 230px;

	/* size */
	width: 40px;

	/* style */
	text-align: center;
}

label[for=stapher_gender], #stapher_gender {
	/* position */
	position: absolute;
	top: 290px;
}

label[for=stapher_gender] {
	/* position */
	left: 0px;
}

#stapher_gender {
	/* position */
	position: absolute;
	left: 100px;

	/* style */
	text-align: center;
}

label[for=stapher_qualifications_hardcoded], #stapher_qualifications {
	/* position */
	position: absolute;
	left: 525px;
}

label[for=stapher_qualifications_hardcoded] {
	/* position */
	font-size: 2em;
	top: 48px;
	display: block;
}

#form_div li label{
	display: block;
}


#stapher_qualifications {
	/* position */
	position: absolute;
	
	/* size */
	width: 55%;
	height: 300px;


	/* style */
	text-align: left;
	font-size: 1.4em;
	top: 85px;
}

#stapher_active {
	/* position */
	left: 100px;
	width: 10em;
	height: 10em;
}

label[for=stapher_active], #stapher_active {
	/* position */
	position: absolute;
	top: 330px;
}

/*******************************************************/
/***************** SHIFT SPECIFIC *********************/
/*******************************************************/
#shift_title, #shift_shift_set{
	/* size */
	width: 435px;

}

#shift_day, #shift_start, #shift_end {
	/* size */
	font-size: 1.75em;
}

#shift_start, #shift_end {
	width: 125px;
}


#shift_start {
	/* size */
	left: 180px;
}

#shift_end {
	/* size */
	left: 310px;
}

label[for=shift_workers_needed]{
	font-size: 2.25em;
	display: block;	
}

#shift_workers_needed{
	left: 275px;
	width: 60px;
	text-align: center;
	font-size: 2em;
}

#shift_shift_set{
	position: absolute;
	top: 215px;
	text-align: center;
	font-size: 2em;
}

#shift_qualifications, #shift_flags{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	font-size: 1.75em;
}

label[for=shift_qualifications_hardcoded], #shift_qualifications{
	position: absolute;
}
label[for=shift_qualifications_hardcoded] {
	top: 265px;
}

#shift_qualifications{
	top: 300px;
	width: 435px;
}

label[for=shift_qualifications_hardcoded], label[for=shift_flags_hardcoded]{
	display: block;
	font-size: 1.75em;
}

label[for=shift_flags_hardcoded], #shift_flags{
	position: absolute;
	left: 450px;
}

label[for=shift_flags_hardcoded]{
	top: 50px;
}

#shift_flags{
	top: 85px;
}

#id_shift_set {
	font-size: 3em;
}








