label {
    display: none;
}

#form_div input, #form_div select, #form_div li{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

#form_buttons{
	position: relative;
	top: 275px;
}

#edit_first_name,  #edit_last_name {
	/* position */
	position: absolute;
	top: 40px;

	/* size */
	height: 50px;

	/* style */
	font-size: 2em;
}


#edit_first_name {
	/* size */
	width: 225px;

}

#edit_last_name {
	/* position */
	left: 230px;

	/* size */
	width: 275px;
}

#edit_title {
	/* position */
	position: absolute;
	top: 95px;

	/* size */
	height: 50px;
	width: 505px;

	/* style */
	font-size: 1.75em;
}

label[for=edit_age], #edit_age, 
label[for=edit_class_year], #edit_class_year, 
label[for=edit_summers_worked], #edit_summers_worked,
label[for=edit_gender], #edit_gender {
	font-size: 1.5em;
	display: block;
}


label[for=edit_age], #edit_age {
	/* position */
	position: absolute;
	top: 150px;

}

label[for=edit_age] {
	/* position */
	left: 0px;
}

#edit_age {
	/* position */
	left: 50px;

	/* size */
	width: 50px;

	/* style */
	text-align: center;
}


label[for=edit_class_year], #edit_class_year {
	/* position */
	position: absolute;
	top: 185px;
}

label[for=edit_class_year] {
	/* position */
	left: 0px;
}

#edit_class_year {
	/* position */
	position: absolute;
	left: 120px;

	/* size */
	width: 80px;

	/* style */
	text-align: center;
}


label[for=edit_summers_worked], #edit_summers_worked {
	/* position */
	position: absolute;
	top: 225px;
}

label[for=edit_summers_worked] {
	/* position */
	left: 0px;
}

#edit_summers_worked {
	/* position */
	position: absolute;
	left: 195px;

	/* size */
	width: 40px;

	/* style */
	text-align: center;
}

label[for=edit_gender], #edit_gender {
	/* position */
	position: absolute;
	top: 260px;
}

label[for=edit_gender] {
	/* position */
	left: 0px;
}

#edit_gender {
	/* position */
	position: absolute;
	left: 85px;

	/* style */
	text-align: center;
}

label[for=edit_qualifications_hardcoded], #edit_qualifications {
	/* position */
	position: absolute;
	left: 525px;
}

label[for=edit_qualifications_hardcoded] {
	/* position */
	font-size: 2em;
	top: 0px;
	display: block;
}

#form_div li label{
	display: block;
}


#edit_qualifications {
	/* position */
	position: absolute;
	
	/* size */
	width: 55%;
	height: 300px;


	/* style */
	text-align: left;
	font-size: 1.4em;
	top: 40px;
}

#edit_qualifications li {
	/* position */
	position: relative;

	/* size */
	width: auto;
	
	/* style */
	background-color: #E2E0E0;
	border-radius: 10px;
	display: inline-block;
	font-size: 0.75em;
	margin: 3px;
	padding: 3px;
	text-align: center;
	
}









