#home-msg {
	/* Positioning */
	position: relative;
	text-align:center;
	width: 70%;
	left: 15%;
}

#home-msg h1 {
	/* Positioning */
	position: relative;

	/* Style */
	font-size: 5em;
}

#home-msg h3 {
	font-size: 2.5em;
	position: relative;
}

#home-msg a {
	top: 10px;
	font-size: 1.25em;
	position: relative;
}

#home-msg a:hover {
	/* Style */
	background-color: silver;
}