#page {
	/* Positioning */
	position: relative;
	width: 95%;
	left: 2.5%;
	top: 60px;
}

.button, .link_btn, .list_btn, .delete_button, .final_delete_btn, .create_btn, .big_button{
	/* Positioning */
	position: relative;

	/* Style */
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 1px 2px 1px 2px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.link_btn {
	/* Style */
	color: white;
	background-color: #999999;
	border: 0;
	padding: 0;
	line-height: 40px;
}

.button:hover, .list_btn:hover, .link_btn:hover{
	/* Style */
	background-color: silver;
}

.delete_button:hover{
	background-color: #F21D1D;
}

.final_delete_btn{
	background-color: #F21D1D;
	color: black;
}

.final_delete_btn:hover{
	background-color: #C50101;
	color: black;
}

.big_button {
	font-size: 4em;
}

.big_button:hover {
	background-color: #52f97f;
}

.create_btn:hover{
	background-color: #32e535;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


.tooltiptext {
	width: 900px;
}

#tooltiptext_small {
	width: 350px;
}

