#ratio_table {
	width: 10%;
	table-layout: fixed;
	background-color: #EEEEEE;
	border: 1px;
	border-color: black;
	border-style: solid;
	display: inline-block;
}

#ratio_table td{
	height: 100px;
	text-align: center;
}