.ratio_table {
	width: 100%;
	background-color: #EEEEEE;
}

.ratio_table th {
	background-color: grey;
	width: 14.285%; /* 100 / 7 = 14.285 */
}

.ratio_time{
	position: relative;
	background-color: silver;
	text-align: center;
	height: 40px;
}

.ratio_table, .ratio_table th, .ratio_time{
	border: 1px;
	border-color: black;
	border-style: solid;
	table-layout: fixed;
}

#ratio_link {
	text-decoration: none;
	color: black;
}

#ratio_link:hover {
	text-decoration: underline;
	font-weight: bold;
}

#clean_ratio {
	background-color: green;
}


#at_limit_ratio {
	background-color: yellow;
}


#bad_ratio {
	background-color: red;
}


.ratio_window_table {
	width: 100%;
	background-color: silver;
	height: 50px;
}

#ratio_grey {
	background-color: grey;
}

#ratio_green {
	background-color: green;
}

#ratio_yellow {
	background-color: yellow;
}

#ratio_red {
	background-color: red;
}














