#recomendation_table {
	width: 100%;
	table-layout: fixed;
}

#recomendation_table td{
	border: 1px;
	border-color: black;
	border-style: solid;
	text-align: center;
}

#winning_cell {
	background-color: green;
}