#build_schedule_form {
	position: relative;
	top: 150px;
	text-align: center;
}

#build_schedule_form input{
	font-size: 4em;
}

#build_schedule_form input:hover{
	background-color: #52f97f;
}

#update_excel_form{
	position: relative;
	top: -15px;
	text-align: right;
	width: 50%;
	left: 50%

}

#update_excel_form input, #delete_schedule_form input{
	font-size: 1.25em;
}


#delete_schedule_form {
	position: relative;
	top: 13px;
	width: 50%;
}

#progress{
	position: relative;
	top: 150px;
	left:15%;
	width:70%;
	text-align: center;
}

#progress-bar-outer {
	width:100%;
	background-color:grey;
}
#progress-bar-inner {
	height:15px;
	width:0%;
	background-color:tomato;
	text-align:right;
}