#setting_selector {
	margin-top: 10px;
}

#setting_selected {
	background-color: silver;
}

#id_parameters li{
	margin: 8px;
	font-size: 1.35em;
	background-color: #EEEEEE;
}

#id_parameters input{
margin-left: 5px;
}

#auto_schedule_div p, #tie_breaker_div p{
	font-size: 1.5em;
}

#id_auto_threshold, #id_auto_schedule {
	font-size: 1.25em;
}

#id_auto_threshold {
	width: 50px;
}

#id_tie_breaker{
	font-size: 1.5em;
}

#parameters_table {
	width: 100%;
}

#parameters_table_rank {
	text-align: center;
}

#parameters_table th{
	text-align: left;
	font-size: 1.5em;
}

#parameters_table td{
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: silver;
	padding: 5px;
}
#up_down_vote {
	text-align: center;
}

#up_down_vote i{
	color: black;
	font-size: 1.25em;
}

#up_down_vote i:hover{
	color: white;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


.tooltiptext {
	width: 900px;
}

#tooltiptext_small {
	width: 300px;
}
.error {
	color: red;
}
