#build_schedule_form {
	position: relative;
	top: 150px;
	text-align: center;
}

#build_schedule_form input{
	font-size: 4em;
}

#update_excel_form{
	position: relative;
	top: -50px;
	text-align: right;
}

#update_excel_form input{
	font-size: 1.25em;
}

#progress{
	position: relative;
	top: 150px;
	left:15%;
	width:70%;
	text-align: center;
}

#progress-bar-outer {
	width:100%;
	background-color:grey;
}
#progress-bar-inner {
	height:15px;
	width:0%;
	background-color:tomato;
	text-align:right;
}