.shift_set_li{
	background-color: #EEEEEE;
	margin: 3px;
	font-size: 1.5em;
	border: 1px;
	border-color: black;
	border-style: solid;
}

.shift_set_li a{
	text-decoration: none;
	color: black;
}

.shift_set_li a:hover{
	text-decoration: underline;
}