.shift_set_li, .in_set {
	margin: 3px;
	font-size: 1.5em;
	border: 1px;
	border-color: black;
	border-style: solid;
}

.shift_set_li {
	background-color: #EEEEEE;
}

.in_set {
	background-color: lime;
	font-weight: bold;
}

.shift_set_li a, .in_set a{
	text-decoration: none;
	color: black;
}

.shift_set_li a:hover, .in_set a:hover{
	text-decoration: underline;
}

#non_selectable {
	pointer-events: none;
}
