
#ranking_table_rank {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-size: 1.5em;
}

#ranking_table td{
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: silver;
}

#ranking_table_text{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.35em;
}

#ranking_table i{
	color: black;
}

#ranking_table i:hover{
	color: white;
}

#rating_link, #add_link, #remove_link {
	text-decoration: none;
	color: black;
}

#rating_link:hover, #add_link:hover, #remove_link:hover {
	text-decoration: underline;
	font-weight: bold;
}

#add_link:hover {
	color: green; 
}

#remove_link:hover {
	color: red; 
}

#special_shift_btn {
	position: fixed;
	top: 180px;
	left: 50%;
}

.preferences_div{
	display: inline-block;
}

#preferences_div_left{
	left: 20%;
	text-align: center;
}

