#schedule_table {
	width: 100%;
	border: 1px;
	border-color: black;
	border-style: solid;
}

#schedule_table th{
	background-color: grey;
}

#schedule_table td{
	border: 1px;
	border-color: black;
	border-style: solid;
}

#scheduled_time{
	background-color: pink;
}

#non_scheduled_time{
	background-color: grey;
}