#schedule_table {
	width: 100%;
	background-color: #EEEEEE;
}

#schedule_table th{
	background-color: grey;
	width: 14.285%; /* 100 / 7 = 14.285 */
}

#scheduled_time{
	position: relative;
	background-color: silver;
	text-align: center;
	
}

#schedule_table, #schedule_table th, #scheduled_time {
	border: 1px;
	border-color: black;
	border-style: solid;
}

#delete_icon {
	position: absolute;
	top:0;
	left:0;
	color: #C50101;
	background-color: silver;
}

#delete_icon {
	visibility: hidden;
}

#scheduled_time:hover #delete_icon {
	visibility: visible;
}

#shifts_to_add {
	width: 100%;
	display: inline-block;
	background-color: blue;
}

#shift_for_day {
	background-color: pink;
	width: 14%;
}