#schedule_table {
	width: 100%;
	border: 1px;
	border-color: black;
	border-style: solid;
	background-color: silver;
}

#schedule_table th{
	background-color: grey;
	width: 14.25%;
}

#scheduled_time{
	background-color: grey;
	text-align: center;
	border: 1px;
	border-color: black;
	border-style: solid;
}