<table id="add_shifts_table">
	{% for row in new_shift_rows %}
	<tr id="add_shift_row">
		{% if forloop.first %}
		{% for cell in row %}
		<th>{{cell}}</th>
		{% endfor %}
		{% else %}
		{% for cell in row %}
		{% if cell %}
		<td id="add_shift_row_td"><div id="add_shift_btn"><a id="add_shift_link" href="{% url 'schedules:stapher-shift-scheduled' st=stapher.id sh=cell.shift.id %}">{{cell.shift.title}}<br>{{cell.time_string}}</a></div></td>
		{% else %}
		<td id="empty_cell"></td>
		{% endif %}
		{% endfor %}
		{% endif %}
	</tr>
	{% endfor %}
</table>