<script type="text/javascript">
	function toggle_highlighted(shift_id, box_id) {
		var shift_id_string = 'new_shift_' + shift_id;
		var box_id_string = 'id_added_shifts_' + box_id;
		var shift = document.getElementById(shift_id_string);
		var box = document.getElementById(box_id_string);
		console.log(box)
		console.log(box.checked)
		if (box.checked) {
			shift.style.backgroundColor = "#32e535";
			console.log('is checked');
		} else {
			shift.style.backgroundColor = "silver";
			console.log('not checked');	
		}
	}
</script>