{% extends "sections/base.html" %}
{% load static from staticfiles %}
{% block head_content%}
	<link rel="stylesheet" href="{% static 'css/delete.css' %}">
	<link rel="stylesheet" href="{% static 'css/detail.css' %}">
	<link rel="stylesheet" href="{% static 'css/download.css' %}">
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
	<link rel="stylesheet" href="{% static 'css/list.css' %}">
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
	<link rel="stylesheet" href="{% static 'css/page.css' %}">
	<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
	<link rel="stylesheet" href="{% static 'css/schedule_settings.css' %}">
	<link rel="stylesheet" href="{% static 'css/stapher_schedule.css' %}">
	<link rel="stylesheet" href="{% static 'css/recommendation.css' %}">
	<link rel="stylesheet" href="{% static 'css/shift_set.css' %}">
	<link rel="stylesheet" href="{% static 'css/ratio.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div id="navbar">
	<div id="title">staphd.com</div>
	<div id="user">
		user: {{ user.get_username }}, <a href="{% url 'logout'%}">Log out</a>
	</div>
	<ul id="links">
		{% if at_build %}
		<li class="current_link"><a href="{% url 'schedules:home'%}">Build</a></li>
		{% else %}
		<li><a href="{% url 'schedules:home'%}">Build</a></li>
		{% endif %}
		{% if at_staph %}
		<li class="current_link"><a href="{% url 'schedules:stapher-list'%}">Staphers</a></li>
		{% else %}
		<li><a href="{% url 'schedules:stapher-list'%}">Staphers</a></li>
		{% endif %}
		{% if at_shifts %}
		<li class="current_link"><a href="{% url 'schedules:shift-list' %}">Shifts</a></li>
		{% else %}
		<li><a href="{% url 'schedules:shift-list' %}">Shifts</a></li>
		{% endif %}
		{% if at_download %}
		<li class="current_link"><a href="{% url 'schedules:download'%}">Download</a></li>
		{% else %}
		<li><a href="{% url 'schedules:download'%}">Download</a></li>
		{% endif %}
		{% if at_settings %}
		<li class="current_link"><a href="{% url 'schedules:settings' %}">Settings</a></li>
		{% else %}
		<li><a href="{% url 'schedules:settings' %}">Settings</a></li>
		{% endif %}
	</ul>
</div>
{% block page %}
<!-- page content -->
{% endblock %}

{% endblock %}

