{% extends "sections/base.html" %}
{% load static from staticfiles %}
{% block head_content%}
	<link rel="stylesheet" href="{% static 'css/nav.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
<div id="navbar">
	<div id="title">staphd.com</div>
	<div id="user">
		user: {{ user.get_username }}, <a href="{% url 'logout'%}">Log out</a>
	</div>
	<ul id="links">
		<li><a href="{% url 'home'%}">Home</a></li>
		<li><a href="{% url 'schedules:stapher-list'%}">Staphers</a></li>
		<li><a href="{% url 'schedules:shift-list'%}">Shifts</a></li>
	</ul>
</div>
{% block page %}
<!-- page content -->
{% endblock %}

{% endblock %}

