<script type="text/javascript">
	function check_like_shifts(flag_id, shift_set_id) {
		var all_shifts = "{{all_shifts}}";
		var shifts_to_check = []
		for (i = 0; i < all_shifts.length; i++) {
			var shift = all_shifts[i];
			var shift_set = shift.shift_set
			if (shift_set.id === shift_set_id){
				var flags = shift.flags.all
				for (j = 0; j < flags.length; j++) {
					var flag = flags[j]
					if (flag.id === flag_id) {
						shifts_to_check.push(shift.id)
					}
				}
			}
		}
		for (i = 0; i < shifts_to_check.length; i++) {
			var shift = shifts_to_check[i];
			var shift_id_str = "shift_id_" + shift.id
			var shift_elem = document.getElementById(shift_id_str);
			shift_elem.checked = true;
	}

	function uncheck_like_shifts(flag_id, shift_set_id) {
		console.log("uncheck!");
	}


	function toggle_shifts(flag_id, shift_set_id) {
		console.log(flag_id);
		console.log(shift_set_id);
		var flag_id_string = 'f_' + flag_id + '_s_' + shift_set_id;
		console.log(flag_id_string);
		var flag_elem = document.getElementById(flag_id_string);
		console.log(flag_elem)
		console.log(flag_elem.checked)
		if (flag_elem.checked) {
			check_like_shifts(flag_id, shift_set_id);
		} else {
			uncheck_like_shifts(flag_id, shift_set_id);
		}
	}
</script>