<script type="text/javascript">
	function toggle_set_flag(flag_id, shift_set_id, check) {
		var all_shifts = {{shifts_arr}};
		var shifts_to_check = [];
		for (i = 0; i < all_shifts.length; i++) {
			var arr = all_shifts[i];
			var shift = arr[0];
			var set = arr[1];
			var flags = arr[2];
			if (set === shift_set_id){
				for (j = 0; j < flags.length; j++) {
					var flag = flags[j];
					if (flag === flag_id) {
						shifts_to_check.push(shift);
					}
				}
			}
		}
		for (i = 0; i < shifts_to_check.length; i++) {
			var id = shifts_to_check[i];
			var shift_id_str = "id_added_shifts_" + id;
			var shift_elem = document.getElementById(shift_id_str);
			shift_elem.checked = check;
			var li_elem_id = "added_shift_li_" + id;
			var li_elem = document.getElementById(li_elem_id);
			if (check) {
				li_elem.style.backgroundColor = "lime";
				li_elem.style.fontWeight = "bold";
			} else {
				li_elem.style.backgroundColor = "#EEEEEE";
				li_elem.style.fontWeight = "normal";
			}
		}
	}


	function toggle_set(shift_set_id, check) {
		var all_shifts = {{shifts_arr}};
		var shifts_to_check = [];
		for (i = 0; i < all_shifts.length; i++) {
			var arr = all_shifts[i];
			var shift = arr[0];
			var set = arr[1];
			var flags = arr[2];
			if (set === shift_set_id){
				shifts_to_check.push(shift);
			}
		}
		for (i = 0; i < shifts_to_check.length; i++) {
			var id = shifts_to_check[i];
			var shift_id_str = "id_added_shifts_" + id;
			var shift_elem = document.getElementById(shift_id_str);
			shift_elem.checked = check;
			var li_elem_id = "added_shift_li_" + id;
			var li_elem = document.getElementById(li_elem_id);
			if (check) {
				li_elem.style.backgroundColor = "lime";
				li_elem.style.fontWeight = "bold";
			} else {
				li_elem.style.backgroundColor = "#EEEEEE";
				li_elem.style.fontWeight = "normal";
			}
		}
	}

	function toggle_set_shifts(shift_set_id) {
		var set_id_string = 'set_' + shift_set_id;
		var set_elem = document.getElementById(set_id_string);
		if (set_elem.checked) {
			toggle_set(shift_set_id, true);
		} else {
			toggle_set(shift_set_id, false);
		}
	}

	function toggle_shifts(flag_id, shift_set_id) {
		var flag_id_string = 'f_' + flag_id + '_s_' + shift_set_id;
		var flag_elem = document.getElementById(flag_id_string);
		if (flag_elem.checked) {
			toggle_set_flag(flag_id, shift_set_id, true);
		} else {
			toggle_set_flag(flag_id, shift_set_id, false);
		}
	}

	function toggle_highlighted(shift_id) {
		var shift_id_string = 'added_shift_li_' + shift_id;
		var shift_elem = document.getElementById(shift_id_string);
		var checkbox_id_string = 'id_added_shifts_' + shift_id;
		var checkbox_elem = document.getElementById(checkbox_id_string);
		if (checkbox_elem.checked) {
			shift_elem.style.backgroundColor = "lime";
			shift_elem.style.fontWeight = "bold";
		} else {
			shift_elem.style.backgroundColor = "#EEEEEE";
			shift_elem.style.fontWeight = "normal";
			
		}
	}
</script>