<script type="text/javascript">
	function toggle_like_shifts(flag_id, shift_set_id, check) {
		var all_shifts = "{{shift_jsons}}";
		var shifts_to_check = []
		for (i = 0; i < all_shifts.length; i++) {
			var shift = all_shifts[i];
			console.log(shift)
			if (shift.set === shift_set_id){
				console.log(shift.set)
				for (j = 0; j < shift.flags.length; j++) {
					var flag = shift.flags[j]
					if (flag === flag_id) {
						console.log(flag)
						shifts_to_check.push(shift.id)
					}
				}
			}
		}
		for (i = 0; i < shifts_to_check.length; i++) {
			var id = shifts_to_check[i];
			var shift_id_str = "shift_id_" + id
			console.log(shift_id_str)
			var shift_elem = document.getElementById(shift_id_str);
			console.log(shift_elem)
			shift_elem.checked = check;
		}
	}


	function toggle_shifts(flag_id, shift_set_id) {
		var flag_id_string = 'f_' + flag_id + '_s_' + shift_set_id;
		var flag_elem = document.getElementById(flag_id_string);
		if (flag_elem.checked) {
			toggle_like_shifts(flag_id, shift_set_id, true);
		} else {
			toggle_like_shifts(flag_id, shift_set_id, false);
		}
	}
</script>