{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<br>
	<a class="button" href="{% url 'schedules:download' %}">Download Excel Files</a>
	<br>
	<br>
	<a class="button" href="{% url 'schedules:special' %}">Place Special Shifts</a>
	<br>
	<br>
	<a class="button" href="{% url 'schedules:flag-settings' %}">Edit Flags</a>
	<br>
	<br>
	<a class="button" href="{% url 'schedules:qualification-settings' %}">Edit Qualifications</a>
	<br>
	<br>
	<a class="button" href="{% url 'schedules:special-shift-list' %}">Edit Special Shifts</a>
</div>
{% endblock %}