{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<br>
	<a class="button" href="{% url create_link %}">New {{object_name}}</a>
	<hr style="background-color: grey; height:1px; margin-top: 10px;">
	<br>
	<ul>
		{% for obj in list %}
			{% if shift_sets %}
			<a class="button" href="{% url schedules:set-add pk=obj.id%}">
				Edit the "{{obj}}" {{object_name}}
			</a>
			{% else %}
			<a class="delete_button" href="{% url delete_link pk=obj.id%}">
				Delete the <mark style="background-color:#3d3d3d; color:white;">"{{obj}}"</mark> {{object_name}}
			</a>
			{% endif %}
			<br>
			<br>
		{% endfor %}
	</ul>
</div>
{% endblock %}