{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>Build Schedules</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'schedules:building-schedules' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Build Schedules">
	</form>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'schedules:update-files' %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Update Excel Files">
	</form>
</div>
{% endblock %}