{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<form id='delete_form' action="" method="post">{% csrf_token %}
		<h1>Are you sure you want to delete:<br>"{{ object }}"?</h1>
		{% for to_delete in deleted_extras %}
		{% if forloop.first %}
		<h2><u>Doing so will also delete:</u></h2>
		{% endif %}
		<h2>- {{to_delete}} </h2>
		{% endfor %}
		<div id='delete_form_btns'>
			{% if schedule_id %}
				<a class="link_btn" href="{% url 'schedules:schedule-detail' pk=schedule_id %}">Cancel</a>
			{% else %}
				<a class="link_btn" href='{{ object.get_absolute_url }}'>Cancel</a>
			{% endif %}
			<input class="final_delete_btn" type="submit" value="Delete" />
		</div>
	</form>
</div>
{% endblock %}