{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<ul id="download_list">
		<li><a class='list_btn' href="{% url 'schedules:download-individual' %}">Download Indiviual Schedules</a></li>
		<li><a class='list_btn' href="{% url 'schedules:download-masters' %}">Download Masters</a></li>
		<li><a class='list_btn' href="{% url 'schedules:download-meals' %}">Download Meal Masters</a></li>
		<li><a class='list_btn' href="{% url 'schedules:download-analytics' %}">Download Schedule Analytics</a></li>
	</ul>
</div>
{% endblock %}