{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div class="select_header">
		<h1>Duplicate Schedules</h1>
		<hr style="background-color: grey; height:1px; margin-top: 10px;">
	</div>
	<div class="select_list">
		<h1>Are you sure you would like to copy all schedules from {{duplicate_schedule}} to {{schedule}}?</h1>
		<h1>Doing so will <strong>Delete</strong> all current schedules on {{schedule}}.</h1>
		<a class="button" href="{% url 'schedules:select' %}">Cancel</a>
		<a class="delete_button" href="{% url 'schedules:duplicate' pk=obj.id %}">Duplicate</a>	
	</div>
</div>
{% endblock %}