{% extends "sections/nav.html" %}
{% block page %}
{% if form.errors %}
	<div id="form_errors">
		<p>The operation could not be performed because one or more error(s) occurred:</p>
		<p>{{ form.errors.as_text }}</p>
	</div>
{% endif %}
<div id="page">
	<form method='POST'> {% csrf_token %}
		<div id="form_header">
			<h1>{{ title }} - </h1>
			{% if object.get_absolute_url %}
				<a class='button' id="form_cancel" href='{{ object.get_absolute_url }}'>Cancel</a>
			{% else %}
				<a class='button' id="form_cancel" href='{% url cancel_url %}'>Cancel</a>
			{% endif %}
			<button class='create_btn' id="form_save" type='submit'>Save</button>
		</div>
		<hr style="background-color: grey; height:1px; margin: 5px;">
		{% if qualification_label_name %}
			<label for="{{ qualification_label_name }}">Qualifications:
				<a class="button" href="{% url 'schedules:qualification-create' %}">Create New Qualification</a>
			</label>
		{% endif %}
		{% if flag_label_name %}
			<label for="{{ flag_label_name }}">Flags:
				<a class="button" href="{% url 'schedules:flag-create' %}">Create New Flag</a>
			</label>
		{% endif %}
		<div id="form_div">
			{{ form }}
		</div>
	</form>
</div>
{% endblock %}