{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div class="list_header">
		<h1>{{title}}</h1>
		<form method='GET' action='.'>
			<input type='text' placeholder="Search... " name='q' value='{{ request.GET.q }}'>
			<button class="button" type='submit'>Search</button>
		</form>
		<a class="link_btn" type=button href="{% url link %}">{{link_title}}</a>	
	</div>
	<div class="list">
		{% for obj in object_list %}
		<a class="list_btn" href='{{ obj.get_absolute_url }}'>{{ obj }}</a>
		{% endfor %}
	</div>
</div>
{% endblock %}