{% extends "schedules/schedule.html" %}
{% block progress %}
<div id="progress">
	<h1 id='progress_percent_msg'>Current Task 0% Complete</h1>
	<h3 id='progress_task_msg'>Waiting...</h3>
	<p id='refresh-message'>If this message is still here after 1 minute, please refresh the page.</p>
	<div id="progress-bar-outer">
		<div id="progress-bar-inner"></div>
	</div>
</div>
{% if task_id %}
<script type="text/javascript">
	jQuery(document).ready(function() {
		console.log('progress html here!');
		var check_state_again = true;
		// pole state of the current task
		var PollState = function(task_id) {
			console.log(task_id);
			jQuery.ajax({
				url: "track",
				type: "POST",
				data: "task_id=" + task_id,
			}).done(function(task){
				console.log(task);
				if (task.running) {
					console.log('task running');
					jQuery('#progress-bar-inner').css({'width': task.process_percent + '%'});
					jQuery('#progress_percent_msg').html('Current Task ' + task.process_percent + '% Complete')
					jQuery('#progress_task_msg').html(task.message)
					jQuery('#refresh-message').html('Please wait as this can take up to 10 minutes.')
				} else {
					console.log('task done!');
					check_state_again = false;
				};
				
				// create the infinite loop of Ajax calls to check the state
				// of the current task
				console.log(check_state_again);
				if (check_state_again) {
					console.log('back to progress!');
					PollState(task_id);
				} else {
					console.log('back home!');
					window.location = "{% url 'schedules:schedule' %}"
				}
			});
		}
		PollState('{{ task_id }}');
	});
</script>
{% endif %}
{% endblock %}