{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	{% if schedule %}
	<h1>Special Shift Placement for {{schedule}}</h1>
	{% else %}
	<h1>No Schedule Selected. Select Schedule to Place Shifts</h1>
	<a class="button" href="{% url 'schedules:select' %}">Select New Schedule</a>
	{% endif %}
	{% if schedule %}
	<br>
	<h2>Staphers order affects the order in which their special shifts are placed.</h2>
	<h2>Special shifts are placed based on the staphers preferences.</h2>
	<table id="ranking_table">
		{% for stapher in ordered_staphers %}
		<tr>
			<td class="ranking_table_data" id="ranking_table_rank"><strong>{{forloop.counter}}</strong></td>
			<td class="ranking_table_data" id="ranking_table_text">
				<a id="rating_link" href="{% url 'schedules:stapher-detail' pk=stapher.id %}">{{stapher}}</a>
			</td>
			<td class="ranking_table_data" id="ranking_table_text"><a id="rating_link" href="">Edit Preferences</a></td>
			<td class="ranking_table_data">
				<ul id="up_down_vote">
					<li>
						<a id="rating_link" href="{% url 'schedules:special-rank-up' pk=stapher.id %}">
							<i class="fa fa-sort-up"></i>
						</a>
					</li>
					<li>
						<a id="rating_link" href="{% url 'schedules:special-rank-down' pk=stapher.id %}">
							<i class="fa fa-sort-down"></i>
						</a>
					</li>
				</ul>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}