{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>Ratios for {{shift_set}} Shifts</h1>
	<h2>{{day}}, {{start}}-{{end}}</h2>
	<a class="button" href="{% url 'schedules:ratio-week' %}">All Ratios</a>
	{% if not ratio_tables %}
	<h1>No uncovered shifts during this time.</h1>
	{% endif %}
	{% for table in ratio_tables %}
	<br>
	<br>
	<hr style="background-color: grey; height:1px; margin: 10px;">
	<div id="ratio_header">
		<div>
			<h2>Ratio for shifts with <u>{{table.qual_table.qual_str}}</u> qualification(s)</h2>
			<h3>{{table.qual_table.ratio_msg}}</h3>	
		</div>
		<div>
			<a class="button" id="ratio_btn" href="{% url 'schedules:shift-list' %}?q={{table.shift_link}}" target="_blank">View Shifts</a>
			<a class="button" id="ratio_btn" onclick="toggle_schedule({{forloop.counter}})">View Staphers</a>
		</div>
	</div>
	<table class="ratio_window_table">
		<tr>
			{% for cell in table.qual_table.cells %}
			<td id="ratio_{{cell.color}}"></td>
			{% endfor %}
		</tr>
	</table>
	<table class="hidden_schedule_table" id="stapher_schedule_{{forloop.counter}}">
		{% for row in table.stapher_table %}
		<tr>
			{% for cell in row %}
			{% if cell.header %}
			<th>{{cell.header}}</td>
			{% else %}
			{% if cell.link %}
			<td class="ratio_time"><a id="ratio_link" href="{{ cell.link }}">{{cell.stapher}}</a></td>
			{% else %}
			<td></td>
			{% endif %}	
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
</div>
{% include "sections/show_schedules.html" %}
{% endblock %}