{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>Recomendations for {{shift}}</h1>
	{% for rec_row in rows %}
	<table id="recomendation_table">
		{% if forloop.first %}
		<tr>
			<th></th>
			{% for p in parameters %}
			<th>{{p.title}}</th>
			{% endfor %}
		</tr>
		{% endif %}
		<tr>
			<th id="stapher_cell">{{rec_row.stapher}}</th>
			{% for cell in rec_row.cells %}
			{% if cell.win %}
			<td id='winning_cell'>{{cell.score}}</td>
			{% else %}
			<td>{{cell.score}}</td>
			{% endif %}
			{% endfor %}
			<td class="button"><a id="view_week_btn" href="">View Week</a></td>
			<td class="create_btn"><a id="scheudle_link" href="">Schedule</a></td>
		</tr>
	</table>
	{% for all_rows_for_time in rec_row.schedule %}
	<table id="hidden_schedule_table">
		{% include "sections/week_view.html" %}
	</table>
	{% endfor %}
	{% endfor %}
</div>
{% endblock %}