{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>Recomendations for {{shift}}</h1>
	{% for rec_row in rows %}
	<table id="recomendation_table">
		{% if forloop.first %}
		<tr>
			<th></th>
			{% for p in parameters %}
			<th>{{p.title}}</th>
			{% endfor %}
		</tr>
		{% endif %}
		<tr>
			<th id="stapher_cell">{{rec_row.stapher}}</th>
			{% for param_cell in rec_row.cells %}
			{% if param_cell.win %}
			<td id='winning_cell'>{{param_cell.score}}</td>
			{% else %}
			<td>{{cell.score}}</td>
			{% endif %}
			{% endfor %}
			<td class="button" id="view_week_btn" onclick="toggle_schedule({{rec_row.stapher.id}})">View Week</td>
			<td class="create_btn"><a id="scheudle_link" href="">Schedule</a></td>
		</tr>
	</table>
	{% for all_rows_for_time in rec_row.schedule %}
	<table class="hidden_schedule_table" id="stapher_schedule_{{rec_row.stapher.id}}">
		{% include "sections/week_view.html" %}
	</table>
	{% endfor %}
	{% endfor %}
</div>
{% include "sections/show_schedules.html" %}
{% endblock %}