{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>Recomendations for {{shift}}</h1>
	<table id="recomendation_table">
		<tr>
			<th></th>
			{% for p in parameters %}
			<th>{{p.title}}</th>
			{% endfor %}
		</tr>
		{% for rec_row in rows %}
		<tr>
			<th id="stapher_cell">{{rec_row.stapher}}</th>
			{% for cell in rec_row.cells %}
			{% if cell.win %}
			<td id='winning_cell'>{{cell.score}}</td>
			{% else %}
			<td>{{cell.score}}</td>
			{% endif %}
			{% endfor %}
			<td class="button"><a id="view_week_btn" href="">View Week</a></td>
			<td class="create_btn"><a id="scheudle_link" href="">Schedule</a></td>
		</tr>
		<tr id="staphers_schedule" rowspan="{{param_count}}">
		{% for all_rows_for_time in rec_row.schedule %}
			{% include "sections/week_view.html" %}
		{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}