{% extends "sections/nav.html" %}
{% block page %}
{% if form.errors %}
	<div id="form_errors">
		<p>The operation could not be performed because one or more error(s) occurred:</p>
		<p>{{ form.errors.as_text }}</p>
	</div>
{% endif %}
<div id="page">
	<form method='POST'> {% csrf_token %}
		<div id="form_header">
			<h1>{{ title }} - </h1>
			<a class='button' id="form_cancel" href='{% url cancel_url %}'>Cancel</a>
			<button class='create_btn' id="form_save" type='submit'>Save</button>
		</div>
		<div id="form_div">
			{{ form }}
		</div>
	</form>
	{% if shift_set %}
	<a class="button" href="{% url shift_set_url pk=shift_set.id %}">Edit {{shift_set.title}} Shifts</a>
	{% endif %}
	{% if create %}
	<a class="create_btn" href="{% url 'schedules:set-create' %}">New Shift Set</a>
	{% endif %}

</div>
{% endblock %}