{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div id="schedule_settings">
		<a class="button" href="{% url 'schedules:settings' %}">Schedule Settings</a>
	</div>
	<div id="update_excel_form">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form action="{% url 'schedules:update' %}" method="post">
			{% csrf_token %}
			<input class="button" type="submit" value="Update Excel Files">
		</form>
		{% if update_error_message %}<p><strong>{{ update_error_message }}</strong></p>{% endif %}
	</div>
	<div id="schedule_information">
		{% if schedule %}
			<h5><strong>Current Schedule: {{ schedule }}</strong></h5>
			<a class="button" href="{% url 'schedules:home' %}">Edit</a>
		{% else %}
			<h5><strong>No Schedules</strong></h5>
			<a class="button" href="{% url 'schedules:download' %}">New Schedule</a>
		{% endif %}
	</div>
	<div id="build_schedule_form">
		{% if error_message %}<h5><strong>{{ error_message }}</strong></h5>{% endif %}
		<form action="{% url 'schedules:building' %}" method="post">
			{% csrf_token %}
			<input class="button" type="submit" value="Build Schedule">
		</form>
		{% if schedule_error_message %}<p><strong>{{ schedule_error_message }}</strong></p>{% endif %}
	</div>
	{% block progress %}{% endblock %}
</div>
{% endblock %}

