{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div id="build_schedule_form">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form action="{% url 'schedules:building' %}" method="post">
			{% csrf_token %}
			<input class="button" type="submit" value="Build Schedules">
		</form>
	</div>
	<div id="update_excel_form">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form action="{% url 'schedules:update' %}" method="post">
			{% csrf_token %}
			<input class="button" type="submit" value="Update Excel Files">
		</form>
	</div>
	{% block progress %}{% endblock %}
</div>
{% endblock %}
