{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div class="select_header">
		<h1>Current Schedule: {{schedule}}</h1>
		<a class="link_btn" type=button href="{% url 'schedules:schedule-create' %}">New Schedule</a>
		<hr style="background-color: grey; height:1px; margin-top: 10px;">
	</div>
	<div class="lists">
		<div class="select_list">
			{% if schedule_list %}
				{% for obj in schedule_list %}
					<a class="list_btn" href='{{ obj.get_absolute_url }}'>{{ obj }}</a>
				{% endfor %}
			{% else %}
				<h3> No Schedules found.</h3><br>
				<p>Select "New Schedule" to create a schedule.</p>
			{% endif %}			
		</div>
	</div>
</div>
{% endblock %}