{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div class="select_header">
		{% if schedule %}
			<h1>Current Schedule is "{{schedule}}"</h1>
			<a class="button" type=button href="{% url 'schedules:schedule-detail' pk=schedule.id %}">View Current Schedule</a>
		{% else %}
			<h1>No Schedule Selected</h1>
		{% endif %}	
		<a class="button" type=button href="{% url 'schedules:schedule-create' %}">New Schedule</a>
		<hr style="background-color: grey; height:1px; margin-top: 10px;">
	</div>
	<div class="lists">
		<div class="select_list">
			{% if object_list %}
				<h1>Select New Schedule:</h1>
				<ul id="schedule_list">
					{% for obj in object_list %}
						<li>
							<h5>{{ obj }}</h5>
							<a class="list_btn" href="{% url 'schedules:schedule-detail' pk=obj.id %}">View</a>
							<a class="list_btn" href='{{ obj.get_absolute_url }}'>Select</a>
							<hr style="background-color: grey; height:1px; margin-top: 10px;">
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<h3> No Schedules found.</h3><br>
				<p>Select "New Schedule" to create a schedule.</p>
			{% endif %}			
		</div>
	</div>
</div>
{% endblock %}