{% extends "schedules/settings.html" %}
{% block settings_form %}
<h1>Parameter Rankings:</h1>
<table id="parameters_table">
	<tr>
		<th></th>
		<th id="title_tablehead">Title</th>
		<th>Description
			<div class="tooltip">
				<span class="tooltiptext" id="tooltiptext_small">
					Given the shift to be scheduled, select the worker that ...
				</span>
				(?)
			</div>
		</th>
	</tr>
	{% for param in parameters %}
	<tr>
		<td id="parameters_table_rank"><strong>{{forloop.counter}}</strong></td>
		<td id="parameters_table_text"><strong>{{param.title}}</strong></td>
		<td id="parameters_table_text">{{param.description}}</td>
		<td>
			<ul id="up_down_vote">
				<li><a href="{% url 'schedules:rank-up' pk=param.id %}"><i class="fa fa-caret-up"></i></a></li>
				<li><a href="{% url 'schedules:rank-down' pk=param.id %}"><i class="fa fa-caret-down"></i></a></li>
			</ul>
		</td>
	</tr>
	{% endfor %}
</table>
<br>
<div class="tooltip">More Info
	<span class="tooltiptext">
		Parameter Rankings are used for two things:<br><br>
		1. Displaying Suggestions<br>
		- When suggesting who should get which shift, the workers that are the best choice in higher ranked parameters will be closer to the top.<br><br>
		2. Breaking Ties<br>
		- If you chose so, you can have ties be broken by deciding whichever worker is the best choice in the highest ranked parameter.<br>
		- More about breaking ties is explained on the next page! Woo hoo!<br><br>
		Feel free to rank in whatever way you would like!
	</span>
</div>
<a class="button" href="{% url 'schedules:settings-auto' %}">Next</a>
{% endblock %}

