{% extends "schedules/settings.html" %}
{% block settings_form %}
<h1>Rank</h1>
<table id="parameters_table">
	<tr>
		<th>Rank</th>
		<th>Title</th>
		<th>Description</th>
		<th>Edit</th>
	</tr>
	{% for param in parameters %}
	<tr>
		<td>{{param.rank}}</td>
		<td>{{param.title}}</td>
		<td>{{param.description}}</td>
		<td>^v</td>
	</tr>
	{% endfor %}
</table>
<div class="tooltip">More Info 
	<span class="tooltiptext">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper, nulla at maximus commodo, lacus quam suscipit erat, nec viverra risus metus id massa. Maecenas scelerisque nibh vitae nisi tristique bibendum. Cras nibh erat, vulputate id eleifend eu, porttitor nec neque. Pellentesque consequat congue augue at sagittis. Fusce quis placerat enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec ultricies, magna nec ornare consectetur, ante sem vehicula arcu, et pulvinar ipsum ligula in purus. Fusce ornare vehicula nunc quis ornare. Praesent at gravida metus.

		Integer ac eros et orci viverra dignissim et non leo. Maecenas ut diam turpis. In semper, nisi at ultricies pellentesque, leo ex dapibus massa, at condimentum ipsum odio laoreet ante. Nulla sit amet vehicula ex. Fusce urna neque, facilisis ut quam a, faucibus rhoncus erat. Proin hendrerit id ante at mattis. Curabitur quis nunc luctus, rhoncus eros ut, ornare dolor. Nullam pretium laoreet  ut tempus. Aenean vehicula quis elit eu feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
	</span>
</div>
{% endblock %}

