{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>Schedule Building Settings:</h1>
	<div id="setting_selector">
		{% if select %}
			<a class="button" id="setting_selected" href="{% url 'schedules:settings-select' %}">Select Parameters</a>
		{% else %}
			<a class="button" href="{% url 'schedules:settings-select' %}">Select Parameters</a>
		{% endif %}
		{% if rank %}
			<a class="button" id="setting_selected" href="{% url 'schedules:settings-rank' %}">Edit Parameter Rank</a>
		{% else %}
			<a class="button" href="{% url 'schedules:settings-rank' %}">Edit Parameter Rank</a>
		{% endif %}
		{% if auto %}
			<a class="button" id="setting_selected" href="{% url 'schedules:settings-auto' %}">Edit Automation Preferences</a>
		{% else %}
			<a class="button" href="{% url 'schedules:settings-auto' %}">Edit Automation Preferences</a>
		{% endif %}
	</div>
	<hr style="background-color: grey; height:1px; margin-bottom: 10px;">
	{% block settings_form %}{% endblock %}
</div>
{% endblock %}

