{% extends "schedules/settings.html" %}
{% block settings_form %}
<h2>Select the parameters that, give the shift to be placed, will suggest the staffer that...</h2>
<div class="tooltip">More Info
  <span class="tooltiptext">
	  	Selecting Parameters:
		- A "parameter" is what the automation will use to decide who is suggested to get (or is automatically gets) a shift scheduled.
		- They are used to decide who should get which shifts scheduled. i.e. The "Even Days" parameter will suggest scheduling the staffer that has the least hours on that day.
		- Selecting 3-8 parameters is reccomended
		- Must select at least 1
	</span>
</div>
<form method='POST' id='form' >{% csrf_token %}
	<div id="form_div">
		{{ form.as_p }}
	</div>
	<button class='create_btn' id="form_save" type='submit'>Save</button>
</form>
{% include "sections/save_first.html" %}
{% endblock %}