{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1>{{ object.title }}</h1>
	<h3>{{ object.start }} - {{ object.end }} </h3>
	<h5> Staphers Needed: {{ object.workers_needed }} </h5>
	{% if object.qualifications.all %}
	<p>Qualifications:</p>
	<ul>
		{% for qualification in object.qualifications.all %}
		<li>{{qualification.title}}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div>
		<a href="{% url 'schedules:shift-delete' pk=object.id%}">Delete</a>
		<a href="{% url 'schedules:shift-update' pk=object.id%}">Edit</a>
	</div>
</div>
{% endblock %}