{% extends "sections/nav.html" %}
{% block page %}
{% if form.errors %}
<div id="form_errors">
	<p>The operation could not be performed because one or more error(s) occurred:</p>
	<p>{{ form.errors.as_text }}</p>
</div>
{% endif %}
<div id="page">
	<form method='POST'> {% csrf_token %}
		<div id="form_header">
			<h1> Add Shifts to {{shift_set.title}} - </h1>
			<a class='button' id="form_cancel" href='{% url cancel_url %}'>Cancel</a>
			<button class='create_btn' id="form_save" type='submit'>Save</button>
			<div class="tooltip">More Info 
				<span class="tooltiptext" id="tooltiptext_small">
					Select a Flag from a Shift Set (left) to add all Shifts in that set with that have the selected flag to the new Shift Set (right).  Deseleting a shift will delete it from the site. You are not able to remove Shifts that have been scheduled from the shift set. To remove these delete their Staphings and return.
				</span>
			</div>
		</div>
		<a class="final_delete_btn" href="{% url 'schedules:set-delete' pk=shift_set.id %}">Delete {{shift_set}}</a>
		<div class="left_list" id="shift_set_div" >
			{% for set in shift_sets %}
			<h2><u>{{set.title}}</u> - Select All 
				<input type="checkbox" value="{{set.id}}" id="set_{{set.id}}" onclick="toggle_set_shifts({{set.id}})">
			</h2>
			<ul>
				{% for flag in flags %}
				<li class="shift_set_li">
					<input type="checkbox" value="flag_{{flag.id}}" id="f_{{flag.id}}_s_{{set.id}}" onclick="toggle_shifts({{flag.id}}, {{set.id}})">
					{{flag}}
				</li>
				{% endfor %}
				<br>
				<br>
			</ul>
			{% endfor %}
		</div>
		<div class="right_list" id="all_shifts_div">
			<h2><u>Select Shifts:</u></h2>
			<label for="added_shifts">Added Shifts:</label>
			<ul>
				{% for shift in all_shifts %}
				{% if shift in shifts_in_set %}
				<li class="in_set" id="added_shift_li_{{shift.id}}">
					<label for="id_added_shifts_{{shift.id}}"></label>
					{% if shift in uncheckable %}
					<input type="checkbox" name="added_shifts" value="{{shift.id}}" id="non_selectable" checked>
					<div class="tooltip">? 
						<span class="tooltiptext" id="tooltiptext_small">
							You are not able to remove Shifts that have been scheduled from the shift set. To remove these delete their Staphings and return.
						</span>
					</div>
					{% else %}
					<input type="checkbox" name="added_shifts" value="{{shift.id}}" id="id_added_shifts_{{shift.id}}" onclick="toggle_highlighted({{shift.id}})" checked>
					{% endif %}
					{% else %}
					<li class="shift_set_li" id="added_shift_li_{{shift.id}}">
						<label for="id_added_shifts_{{shift.id}}"></label>
						<input type="checkbox" name="added_shifts" value="{{shift.id}}" id="id_added_shifts_{{shift.id}}" onclick="toggle_highlighted({{shift.id}})">
						{% endif %}
						<a href="{{ shift.get_absolute_url }}">{{shift}} - <strong>{{shift.shift_set.title}}</strong></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</form>
	</div>
	{% include "sections/shifts_from_flag.html" %}
	{% endblock %}