{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div id="detail_header">
		<h1>{{ object.title }} - {{object.shift_set.title}}</h1>
	</div>
	<div id="detail_body">
		<div id="detail_body_left">
			<h3>{{ day }}</h3>
			<h4>{{time_msg}} </h5>
			<h5>{{needed_msg}}</h5>
			<h5>{{schedule_title}}</h5>
			<h5>{{working_msg}}</h5>
			{% for worker in working_shift %}
				<ul>
					<li><a class='button' href='{{ worker.get_absolute_url }}'>{{ worker }}</a></li>
				</ul>
			{% endfor %}
			{% if can_schedule_more %}
			<a class='button' href="{% url 'schedules:shift-schedule' pk=object.id%}">Schedule Shift</a>
			{% endif %}
		</div>
		<div id="detail_body_flags">
			{% if flags %}
				<h5>Flags:</h5>
				<ul>
				{% for flag in flags %}
					<li>{{flag.title}}</li>
				{% endfor %}
				</ul>
			{% else %}
				<h5>No Flags</h5>
			{% endif %}
		</div>
		<div id="detail_body_qualifications">
			{% if qualifications %}
				<h5>Qualifications:</h5>
				<ul>
				{% for qualification in qualifications %}
					<li>{{qualification.title}}</li>
				{% endfor %}
				</ul>
			{% else %}
				<h5>No Qualifications</h5>
			{% endif %}
		</div>
	</div>
	<div id="detail_footer">
		<a class="delete_button" href="{% url 'schedules:shift-delete' pk=object.id%}">Delete</a>
		<a class="button" href="{% url 'schedules:shift-update' pk=object.id%}">Edit</a>
	</div>
</div>
{% endblock %}