{% extends "sections/nav.html" %}
{% block page %}
{% include "schedules/shift_detail.html" %}
<div class="schedule_shift_table" id="schedule_shift_table">
	<table class="schedule_table">
	{% for row in stapher_table %}
	<tr>
		{% for cell in row %}
		{% if cell.header %}
			<th>{{cell.header}}</td>
		{% else %}
			{% if cell.link %}
			{% if forloop.last %}
			<td class="ratio_time">
				<a class="create_btn" id="uncovered_shift_links" href="{% url 'schedules:shift-schedule-stapher' sh=object.id st=cell.stapher.id %}">Schedule {{cell.stapher}}</a>
			</td>
			{% else %}
			<td class="ratio_time"><a id="uncovered_shift_links" href="{{ cell.link }}">{{cell.stapher}}</a></td>
			{% endif %}

			{% else %}
			<td></td>
			{% endif %}	
		{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
	</table>	
</div>
{% endblock %}