{% extends "sections/nav.html" %}
{% block page %}
{% if form.errors %}
<div id="form_errors">
	<p>The operation could not be performed because one or more error(s) occurred:</p>
	<p>{{ form.errors.as_text }}</p>
</div>
{% endif %}
<div id="page">
	<form method='POST'> {% csrf_token %}
		<div id="form_header">
			<h1>{{ title }} - </h1>
			<a class='button' id="form_cancel" href='{% url cancel_url %}'>Cancel</a>
			<button class='create_btn' id="form_save" type='submit'>Save</button>
			<div class="tooltip">More Info
				<span class="tooltiptext">
					Select a Flag from a Shift Set (left) to add all Shifts in that set with that have the selected flag to the new Shift Set (right).
				</span>
			</div>
		</div>
		<div id="form_div">
			{{ form }}
		</div>
		<div class="left_list" id="shift_set_div">
			{% for set in shift_sets %}
			<h2><u>{{set.title}}</u></h2>
			<ul>
				{% for flag in flags %}
				<li class="shift_set_li">
					<input type="checkbox" name="added_shifts" value="{{flag.id}}" id="f_{{flag.id}}_s{{set.id}}" onclick="toggle_shifts({{flag}}, {{set}})">
					{{flag}}
				</li>
				{% endfor %}
				<br>
				<br>
			</ul>
			{% endfor %}
		</div>
		<div class="right_list" id="all_shifts_div">
			<h2><u>Select Shifts:</u></h2>
			<ul>
				{% for shift in all_shifts %}
				<li class="shift_set_li">
					<input type="checkbox" name="added_shifts" value="{{shift.id}}" id="shift_id_{{shift.id}}">
					<a href="{{ shift.get_absolute_url }}">{{shift}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</form>
</div>
{% include "sections/shifts_from_flag.html" %}
{% endblock %}