{% extends "sections/nav.html" %}
{% block page %}
{% if form.errors %}
<div id="form_errors">
	<p>The operation could not be performed because one or more error(s) occurred:</p>
	<p>{{ form.errors.as_text }}</p>
</div>
{% endif %}
<div id="page">
	<form method='POST'> {% csrf_token %}
		<div id="form_header">
			<h1>{{ title }} - </h1>
			<a class='button' id="form_cancel" href='{% url cancel_url %}'>Cancel</a>
			<button class='create_btn' id="form_save" type='submit'>Save</button>
		</div>
		<div id="form_div">
			{{ form }}
		</div>
		<div class="left_list" id="shift_set_div">
			<h2>Shifts Sets:</h2>
			<div class="tooltip" id="search_info">More Info
				<span class="tooltiptext">
					Select a Flag from a Shift Set to add all Shifts in that set with that have the selected flag.
				</span>
			</div>
			{% for set in shift_sets %}
			<h3>{{set.title}}</h3>
			<ul>
				{% for flag in flags %}
				<li class="list_btn">
					<input type="checkbox" name="added_shifts" value="{{flag.id}}"">
					{{flag}}
				</li>
				{% endfor %}
			</ul>
			{% endfor %}
		</div>
		<div class="right_list" id="all_shifts_div">
			<h3>Select Shifts:</h3>
			<ul>
				{% for shift in all_shifts %}
				<li class="list_btn">
					<input type="checkbox" name="added_shifts" value="{{shift.id}}"">
					{{shift}}
				</li>
				{% endfor %}
			</ul>
		</div>
	</form>
</div>
{% endblock %}