{% extends "sections/base.html" %}
{% load static from staticfiles %}
{% block head_content%}
<link rel="stylesheet" href="{% static 'css/splash.css' %}">
{% endblock %}
{% block content %}
<div class="splash-bg">
	<video loop muted autoplay poster="{% static 'images/lake.jpg' %}" src="{% static 'videos/lake.mov' %}" class="splash-bg__video"></video>
</div>
<div class="splash-header">
	<h1>Welcome!</h1>
	<h3>Please Enter Your Apple TestFlight Credentials:</h3>
</div>
<div class="splash-page">
	<div class="splash-message">
		<form method='POST'> {% csrf_token %}
			<div id="form_div">
				{{ form }}
			</div>
			<div>
				<button class='create_btn' id="form_save" type='submit'>Save</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
