{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<h1 id="stapher_schedule_msg">{{schedule_msg}}</h1>
	<a class="button" href='{{ stapher.get_absolute_url }}'>View Stapher</a>
	<a class="button" href="{% url 'schedules:select' %}">Select New Schedule</a>
	{% if schedule %}
	{% if add_shifts %}
	<a class="button" href="{% url 'schedules:stapher-schedule' pk=stapher.id %}">Done Adding Shifts</a>
	{% else %}
	<a class="button" href="{% url 'schedules:stapher-schedule-shifts' pk=stapher.id %}">Add Shifts</a>
	{% endif %}
	{% endif %}
	<br>
	{% if schedule %}
	<br>
	<table class="schedule_table">
	{% include "sections/week_view.html" %}
	</table>
	<br>
	{% if adding_shifts %}
	<h2>Uncovered Shifts {{name}} is both Free and Qualified for: </h2>
	<h4>Select shifts to add them to {{name}}'s schedule...</h4>
	<br>
	{% include "sections/add_shifts.html" %}
	{% endif %}
	{% endif %}
</div>
{% endblock %}