{% extends "sections/nav.html" %}
{% block page %}
<div id="page">
	<div id="detail_header">
		<h1>{{ name }}</h1>
	</div>
	<div id="detail_body">
		<div id="detail_body_left">
			<h4>{{ object.title }}</h4>
			<h5>Age: {{object.age}}</h5>
			<h5>Class: {{object.class_year}}</h5>
			<h5>{{readable_summer}} Summer</h5>
			<a class="button" href="{% url 'schedules:shift-list' %}?q={{name}}">View {{object.first_name }}'s Scheduled Shifts</a>
		</div>
		<div id="detail_body_right">
			{% if qualifications %}
				<h5>Qualifications:</h5>
				<ul>
				{% for qualification in qualifications %}
					<li>{{qualification.title}}</li>
				{% endfor %}
				</ul>
			{% else %}
				<h5>No Qualifications</h5>
			{% endif %}
		</div>
	</div>
	<div id="detail_footer">
		<a class="delete_button" href="{% url 'schedules:stapher-delete' pk=object.id%}">Delete</a>
		<a class="button" href="{% url 'schedules:stapher-update' pk=object.id%}">Edit</a>
	</div>
</div>
{% endblock %}